body { background-color: #f0fdf4; }
.modal { display: none; }
.modal.flex { display: flex; }
/* Estilos da barra de rolagem customizada se houver */
.custom-scrollbar::-webkit-scrollbar { width: 6px; }
.custom-scrollbar::-webkit-scrollbar-track { background: #f1f1f1; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #d8f3dc; border-radius: 10px; }
.custom-scrollbar::-webkit-scrollbar-thumb:hover { background: #b7e4c7; }