Pastas de Compilação e Binários

/target/
/bin/

Arquivos de IDE (VS Code, IntelliJ)

.idea/
.vscode/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/

Arquivos de LOG

*.log
/logs/

ARQUIVOS DE SECREDO E CONFIGURAÇÃO LOCAL

O seu .env (se você usá-lo para variáveis)

.env

Arquivo de configuração de segredos locais (Spring Profile)

Você deve criar application-dev.properties ou application-local.properties

para guardar sua URI do MongoDB e ignorá-lo aqui.

application-dev.properties
application-local.properties